asgiref
Django
django-cors-headers
djangorestframework
djangorestframework_simplejwt
dnspython
mongoengine
pillow
psycopg2-binary
PyJWT
pymongo
sqlparse
tzdata
django-rest-framework-mongoengine
dnspython
google-generative-ai
pdfplumber
boto3
whitenoise
gunicorn